@import 'config';

body{
    font-size: 16px;
    background: $light;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

//small screens first
.logo{
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.card{
    width: 100%;
    background: white;
    border-radius: 5vw 5vw 0 0;
    padding: 1.5em;
    padding: clamp(1.5em, 2vw, 3em);
    display: flex;
    flex-direction: column;
    gap: clamp(1.5em, 2vw, 3em);
    margin-top: auto;

    .input{
        // height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;

        .bill{

            h3{
                display: flex;
                justify-content: space-between;

                .warning{
                    color: $warning;
                }
            }
            .bill-input{
                display: flex;
                align-items: center;
                margin-top: .5em;
                position: relative;

                input{
                    border: none;
                    background: $light-light;
                    // padding: .5em;
                    text-align: right;
                    width: 100%;
                    
                    &:focus{
                        outline: 2px $primary solid;
                    }
                }
                .dollar{
                    position: absolute;
                    transform: translateX(100%);
                }
                
            }
        }
        .tip-select{

            .buttons{
                margin-top: .5em;

                display: grid;
                gap: .7em;
                grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));

                *{
                    border: none;
                    text-align: center;
                    background: $secondary;
                    color: $white;
                }
                .active{
                    background: $primary;
                    color: $secondary;
                }
                button:hover{
                    background: $light-primary;
                    color: $secondary;
                }
                input{
                    background: $light-light;
                    border-radius: 6px;
                    color: $dark-grey;
                    font-weight: 700;
                    font-size: 1.2rem;
                    text-align: center;

                    &::placeholder{
                        color: $dark-grey;
                        font-weight: 700;
                        opacity: 1;
                    }
                    &:focus{
                        outline: 2px $primary solid;
                    }
                }
            }

        }
        .people{

            h3{
                display: flex;
                justify-content: space-between;

                .warning{
                    color: $warning;
                }
            }
            .people-input{
                display: flex;
                align-items: center;
                margin-top: .5em;
                position: relative;

                input{
                    border: none;
                    background: $light-light;
                    text-align: right;
                    width: 100%;

                    &:focus{
                        outline: 2px $primary solid;
                    }
                }
                .person{
                    position: absolute;
                    transform: translateX(100%);
                }
                
            }
        }
    }
    .output{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        height: 30vh;
        background: $secondary;
        border-radius: 10px;
        padding: 1em;
        gap: 1em;

        .tip-amount, .total-amount{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $light;
            white-space: nowrap;

            .total{
                color: $primary;
            }
            p{
                color:$light-grey;
                margin-top: .4em;
            }
        }
        .reset{
            width: 100%;
            margin-top: auto;
            background: $primary;
            cursor: pointer;

            &:hover{
                background: $light-grey;
            }
        }
    }
}


//big screens
@media (min-width: 600px) {

    body{
        align-items: center;
        justify-content: center;

        .logo{
            position: absolute;
            transform: translateY(-500%);
        }
        .card{
            width: calc(30vw + 25em);
            margin: 0 auto;
            flex-direction: row;
            border-radius: 1em;
            // height: 40vh;
            box-shadow: 0px 41px 114px -29px rgba(0, 0, 0, 0.2);

            .input{
                flex: 1;
                gap: 2.5em;

                .tip-select{
                    
                    .buttons{
                        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                    }
                }
            }
            .output{
                flex: 1;
                height: auto;
            }
        }
    }
}